<h1><%= @user.username %></h1>
<p><%= @user.email %></p>
<p>User since: <%= @user.created_at.strftime("%B %d, %Y") %></p>

<% unless current_user.id == params[:id].to_i %>
    <% if @follower_request %>
        <%= form_with model: @follower_request, method: :delete do |f| %>
            <%= f.hidden_field :id, value: @follower_request[:id] %>
            <%= f.submit 'Cancel Follow Request' %>
        <% end %>
    <% else %>
        <%= form_with model: @new_follower_request do |f| %>
            <%= f.hidden_field :follow_recipient_id, value: params[:id] %>
            <%= f.submit :follow %>
        <% end %>
    <% end %>
<% end %>

<h2>Posts</h2>
<ul>
<% @user.posts.each do |post| %>
    <li><%= link_to post.title, post %></li>
<% end %>
</ul>

<h2>Comments</h2>
<ul>
<% @user.comments.each do |comment| %>
    <li>
        <%= link_to comment.post.title, comment.post %> - 
        <%= comment.comment%>
    </li>
<% end %>
</ul>

<h2>Liked Posts</h2>
<ul>
<% @user.likes.each do |like| %>
    <li>
        <%= link_to like.post.title, like.post %>
    </li>
<% end %>
</ul>