<% content_for :title, @user.username %>

<div class="mb-4">
    <h1 class="is-size-3"><%= @user.username %></h1>
    <p><%= @user.email %></p>
    <p>User since: <%= @user.created_at.strftime("%B %d, %Y") %></p>
</div>

<div class="is-flex flex-gap-4">
    <div class="is-flex-grow-1">
        <h2 class="is-size-4">Followers</h2>
        <ul>
        <% @user.followers.each do |follower| %>
            <li><%= link_to follower.follower.username, follower.follower %></li>
        <% end %>
        </ul>

        <h2 class="is-size-4">Followed Users</h2>
        <ul>
        <% @user.followees.each do |followee| %>
            <li><%= link_to followee.followee.username, followee.followee %></li>
        <% end %>
        </ul>

        <% unless current_user.id == params[:id].to_i %>
            <div class="mt-4">
                <% if @follower_request %>
                    <%= form_with model: @follower_request, method: :delete do |f| %>
                        <%= f.hidden_field :id, value: @follower_request[:id] %>
                        <%= f.submit 'Cancel Follow Request', class: 'button is-link' %>
                    <% end %>
                <% else %>
                    <%= form_with model: @new_follower_request do |f| %>
                        <%= f.hidden_field :follow_recipient_id, value: params[:id] %>
                        <%= f.submit :follow, class: 'button is-link' %>
                    <% end %>
                <% end %>
            </div>
        <% else %>
            <h2 class="is-size-4">Follow Requests</h2>
            <% @new_followers.each_with_index do |new_follower, index| %>
                <div class="is-flex flex-gap-2 is-align-items-center">
                    <%= form_with model: new_follower, class: 'is-flex flex-gap-2 is-align-items-center' do |f| %>
                        <%= f.hidden_field :follower_id %>
                        <span><%= new_follower.follower.username %></span>
                        <%= f.submit 'Accept', class: 'button is-link' %>
                    <% end %>
                    <%= button_to 'Reject', @user.follower_requests[index], method: :delete, class: 'button is-link' %>
                </div>
            <% end %>
        <% end %>
    </div>

    <div class="is-flex-grow-1">
        <h2 class="is-size-4">Posts</h2>
        <ul>
        <% @user.posts.each do |post| %>
            <li><%= link_to post.title, post %></li>
        <% end %>
        </ul>


        <h2 class="is-size-4">Liked Posts</h2>
        <ul>
        <% @user.likes.each do |like| %>
            <li>
                <%= link_to like.post.title, like.post %>
            </li>
        <% end %>
        </ul>
    </div>

    <div class="is-flex-grow-1">
        <h2 class="is-size-4">Comments</h2>
        <ul>
        <% @user.comments.each do |comment| %>
            <li>
                <%= link_to comment.post.title, comment.post %> - 
                <%= comment.comment%>
            </li>
        <% end %>
        </ul>
    </div>
</div>