<p style="color: green"><%= notice %></p>

<%= render @post %>

<div><%= @post.likes.length %> Like(s)</div>
<div>
  <%= link_to "Edit this post", edit_post_path(@post) %> |
  <%= link_to "Back to posts", posts_path %>

  <%= button_to "Destroy this post", @post, method: :delete %>
</div>

<% if @like %>
  <%= button_to "Unlike", @like, method: :delete %>
<% else %>
  <%= form_with model: @new_like do |f| %>
    <%= f.hidden_field :post_id, value: @post.id %>
    <%= f.submit :like %>
  <% end %>
<% end %>

<strong>Comment on post</strong>
<%= form_with model: @comment do |f| %>
  <%= f.hidden_field :post_id, value: @post.id %>
  <%= f.text_area :comment, { required: true } %>
  <br>
  <%= f.submit %>
<% end %>

<% @post.comments.each do |comment| %>
  <div>
    <p>Commenter: <%= comment.author.username %></p>
    <p><%= comment.comment %></p>
  </div>
<% end %>