<p style="color: green"><%= notice %></p>

<% content_for :title, @post.title %>

<%= render @post %>

<div class="mt-4 mb-4 is-flex flex-gap-2 is-align-items-center">
  <% if @like %>
    <%= button_to "Unlike", @like, method: :delete, class: 'button is-link' %>
  <% else %>
    <%= form_with model: @new_like do |f| %>
      <%= f.hidden_field :post_id, value: @post.id %>
      <%= f.submit :like, class: 'button is-link' %>
    <% end %>
  <% end %>
  <p><%= @post.likes.length %> Like(s)</p>
</div>

<% if current_user.id == @post.author.id %>
  <div class="is-flex flex-gap-2 mt-2 mb-2">
    <%= link_to "Edit this post", edit_post_path(@post), class: 'button is-link' %>
    <%= button_to "Destroy this post", @post, method: :delete, class: 'button is-link' %>
  </div>
<% end %>

<div>
  <strong>Comment on post</strong>
  <%= form_with model: @comment do |f| %>
    <%= f.hidden_field :post_id, value: @post.id %>
    <%= f.text_area :comment, { required: true } %>
    <br>
    <%= f.submit :comment, class: 'button is-link' %>
  <% end %>
</div>

<% @post.comments.each do |comment| %>
  <div class="mt-4">
    <p>Commenter: <%= link_to comment.author.username, comment.author %></p>
    <p><%= comment.comment %></p>
  </div>
<% end %>